.App {
  text-align: center;
}

.container {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.octave-group {
  display: flex;
  margin: 10px;
}

.octave-key {
  display: flex;
  outline:0;
  height: 100px;
  width: 30px;
  position: relative;
}

.octave-key.major {
  background-color: #333;
  color: #fff;
}

.octave-key.minor {
  background-color: #fff;
  color: #333;
}

.octave-key span {
  position: absolute;
  top: 0px;
  right: 0px;
}

.octave-key div {
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  padding:2px;
  bottom: 0px;
}